body
 {
background-color: #5A5D5C;
}

:host {
  text-align: left;
}

nz-header{
  background: #FDFEFE;
  color: black;
  min-height: 205px
}

nz-footer {
  line-height: 1.5;
  background: #FDFEFE;
  color: black;
  min-height: 1000px;
}

div {
  border: #ECF0F1 1px solid;
  font-size: 150%;
}

nz-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
}

nz-content {
  background: #CACFD2;
  color: #fff;
  line-height: 60px;
  position: relative;
  left: 0px;
}

span,i, nz-breadcrumb-item, a, nz-breadcrumb{
  color: #EB984E;
  position: relative;
  left: 0px;
}

h3, nz-form-item{
  color: #0A1A7B;
}

[nz-button] {
  margin-right: 8px;
  position: relative;
  left: 900px;
  color: #EB984E;
  border: #EB984E 1px solid;
  border-radius: 10px;
}

input{
  border-style: outset;
  border-radius: 10px;
  border-bottom: 4px solid #EB984E;
}

