<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nz-layout>
         <nz-descriptions nzTitle="">
      <nz-descriptions-item nzTitle="Atendiendo a">Jose Gamelo</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Perfil">Asegurado</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Telefono">555098737</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Nombre">Jose Antonio Gamelo Gamelo</nz-descriptions-item>
      <nz-descriptions-item nzTitle="No. cliente">00250044</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Sexo">Masculino</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Correo electronico">PRUEBA@GNP.COM.MX </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Nacionalidad">Peru</nz-descriptions-item>
    </nz-descriptions>
        
        <nz-breadcrumb>
            <i nz-icon nzType="home" nzTheme="outline"></i>
            <nz-breadcrumb-item>Identifiacion del cliente</nz-breadcrumb-item>
            <nz-breadcrumb-item>Polizas</nz-breadcrumb-item>
            <nz-breadcrumb-item>detalle de la poliza</nz-breadcrumb-item>
          </nz-breadcrumb>
      <p>Preguntas de seguridad</p>
      </nz-layout>
</body>
</html>
