.layout {
  min-height: 100vh;
}

 nz-page-header {
  position: absolute;
  width: 100%;
  height: 160px;
  background: #fff;
  text-align: left;
  line-height: 0.7;
  word-spacing: 10px;
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 0 50px;
  margin-top: 64px;
}

.inner-content {
  background: #fff;
  padding: 250px;
  min-height: 150;
  border: #CACFD2 1px solid;
}

.inner-content2{
  background: #fff;
  border: #CACFD2 1px solid;
  height: 100px;
  position: absolute;
  top: 215px;
  left: 70px;
  right: 70px;
  text-align: left;
  line-height: 0.5;
  word-spacing: 5px;
}

nz-footer {
  text-align: center;
}

nz-breadcrumb-item, nz-breadcrumb{
  color: #EB984E;
  position: relative;
  left: 0px;
  margin: 16px 0;
}

[nz-button] {
  margin-bottom: 12px;
  float: right;
  position: absolute;
  top: 325px;
  right: 70px;
  color: #EB984E;
  background: #fff;
  border: #fff;
}

h4{
  color: #080E94;
}
