.layout {
  min-height: 100vh;
}

 nz-page-header {
  position: absolute;
  width: 100%;
  height: 160px;
  background: #fff;
  text-align: left;
  line-height: 0.7;
  word-spacing: 10px;
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 0 50px;
  margin-top: 64px;
}

.inner-content {
  background: #fff;
  padding: 400px;
  min-height: 150;
  border: #CACFD2 1px solid;
}

.inner-content2{
  background: #fff;
  border: #CACFD2 1px solid;
  height: 20%;
  position: absolute;
  top: 220px;
  left: 70px;
  right: 70px;
  text-align: left;
  line-height: 0.7;
  word-spacing: -1px;
  font-style: "word-spacing: none;"
}

.inner-content3{
  background: #fff;
  border: #CACFD2 1px solid;
  position: absolute;
  top: 420px;
  left: 200px;
  width: 60%;
  height: 70%;
}

nz-footer {
  text-align: center;
}

nz-breadcrumb-item, nz-breadcrumb{
  color: #EB984E;
  position: relative;
  left: 0px;
  margin: 16px 0;
}

[nz-button] {
  margin-right: 8px;
  position: relative;
  left: 750px;
  color: #EB984E;
  border: #EB984E 1px solid;
  border-radius: 10px;
  margin-bottom: 12px;
}

nz-button-group [nz-button] {
  position: absolute;
  top: 1px;
  left: 890px;
  color: #EB984E;
  border: #EB984E 1px solid;
  border-radius: 10px;
  margin-bottom: 12px;
  background: #fff;
  float: right;
}
nz-descriptions-item [nzTitle]{
  color: #080E94;
}
h4{
  color: #080E94;
}

h3{
  color: #080E94;
  position: absolute;
  top: 380px;
  left: 200px;
}

input{
  border-style: outset;
  border-radius: 10px;
  border-bottom: 4px solid #EB984E;
  position: absolute;
  top: 5px;
  left: 100px;
}


h5{
  top: 5px;
  color: #080E94;
  text-align: left;
  font-size: 15px;
  left: 100px;
  position: relative;
}
