/* You can add global styles to this file, and also import other style files */
.ant-descriptions-item-label{
    font-weight: bold;
  }
  
.inner-content2{
    color: #080E94;

 }
    .ant-descriptions-item-label-colon{
    font-weight: bold;
}
.ant-breadcrumb-separator{
    color: #EB984E;
}
.ant-select-item-option-content {
    flex: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #080E94;
}
.ant-descriptions-row, .ant-page-header-content{
    color: blue;
}
nz-descriptions.ant-descriptions.uno.ant-descriptions-small{
    color: blue;
}
